<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} Podcast Project {% endblock %}</title>
        
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
        <!-- Bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

        
        {% block head %}

        {% endblock %}
    </head>
    
    <body>

        <!-- Navbar --> 
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Podcast Directory</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <img class="img-responsive img-rounded" id="profile-image" src='{{ user.profile_image }}'><!-- TODO- Login, Profile, etc -->
                        </li>
                        <li>
                            <a href="/profile">{{ user.first_name }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Navbar -->

        <!-- Container for body of page -->
        <div class="container-fluid">
            {% block body %}
            {% endblock %}
        </div>
        <!-- End block body -->

        <!-- Jquery -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>
