<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} Podcast Project {% endblock %}</title>
        
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
        <!-- Bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

        <!-- Amplitute.js -->
        <script type="text/javascript" src="static/amplitudejs-master/js/amplitude.js"></script>
        
        {% block head %}

        {% endblock %}
    </head>
    
    <body>
        <!-- Navbar --> 
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Podcast Directory</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <!-- TODO- Login, Profile, etc -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- This wrapper necessary for sticky footer -->
        <div class='wrapper'>
            
        <!-- Container for body of page -->
        <div class="container">
            <div class="row">
                {% block body %}
                {% endblock %}
            </div>
        </div>

        <!-- This is my attempt to push stick the footer to the bottom of the page -->
            <div class='push'></div>
        </div>

        <!-- Container for footer of page -->
        <footer id="footer" class="footer">
            {% block footer %}
            {% endblock %}
        </footer>

        <!-- Jquery -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>