<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} Podcast Storybook {% endblock %}</title>

        <!-- Bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

    </head>
    <body>

        <!-- Navbar -->
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Podcast Project</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/index">
                                Podcasts
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Container for body of page -->
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <!-- Jquery -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
        {% block js %}

        {% endblock %}
    </body>
</html>