{% extends 'base.html' %}

{% block head %}

    <link rel="stylesheet" type="text/css" href="/static/css/podcast.css">

{% endblock%}

{% block body %}
    <h4>{{ podcast.title }}</h4>


    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators"></ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner"></div>
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
    <div class="wrapper">
      <audio id="song" width="300" height="32" ontimeupdate="updateTime()" controls="controls"><source src="{{ podcast.audio }}" type="audio/mp3" />
        <div class="amplitude-song-time-visualization" amplitude-single-song-time-visualization="true" id="song-time-visualization">
          
        </div>

        <div class="amplitude-play-pause amplitude-paused" amplitude-main-play-pause="true"></div>
        <div class="push"></div>
      </audio>
    </div>
    <div class="footer"></div>
    {% endblock %}   

    <!-- Javascript -->
    {% block js %}
      <script src="/static/js/podcast.js">

      </script>
    {% endblock %}
