{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/podcast.css">
{% endblock%}

{% block body %}
  <!-- Podcast body row -->
  <div class="row">
    <!-- Podcast Title and Episode -->
    <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 col-xs-12">

      <h4>{{ podcast.show }}: {{ podcast.title }}</h4>
      <p>{{ podcast.description }}</p>

      <!-- Audio -->
      <audio id="audio" controls>
        <source src="{{ podcast.audio }}" class="player_audio" type="audio/mpeg">
      </audio>
      <!-- End Audio -->

      <!-- Start Carousel -->
      <div id="carousel-image" class="carousel slide" data-ride="carousel" data-interval="false">
        <!-- Indicators -->
        <ol class="carousel-indicators"></ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="carousel-caption">
          <!-- TODO How to render event.link??!?!?! -->
          </div>
        </div>
      </div>
      <!-- End Carousel -->
    </div><!-- End columns -->
  </div><!-- End row -->

  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xs-12"

      <!-- Comment Form -->
      <form class="form-inline" action="/addComment" method="post" role="form">
        <div class="form-group">
          <img class="img-responsive img-rounded" src="{{ user.profile_image }}" id="comment-profile-image">
        </div>
        <div class="form-group">
          <label class="sr-only" for="comment"></label>
          <input type="comment" name="comment" class="form-control" id="comment" placeholder="Write a comment">
        </div>

        <button type="submit" class="btn btn-primary" id="submit">Submit</button>
      </form>
      <!-- End Comment Form -->
      <div class="row">
        <div class="">
          <h3>Comments</h3>
        </div><!-- /col-sm-12 -->
      </div><!-- /row -->


      <!-- Comment Template -->
      <div style=“display: none”>
        <div id="comment-template">
          <div class="row comment-box">
            <div class="col-sm-1 col-md-1 col-lg-1">
              <div class="thumbnail">
                <img class="img-responsive user-photo" src="">
              </div><!-- /thumbnail -->
            </div><!-- /col-sm-1 -->
          <div class="col-sm-5">
            <div class="panel panel-default">
              <div class="panel-heading">
                <strong class="name"></strong> 
              </div>
            <div class="panel-body comment-body">
            </div><!-- /panel-body -->
            </div><!-- /panel panel-default -->
          </div><!-- /col-sm-5 -->
        </div>
      </div>
      <!-- End Comment Template -->

      <!-- Comments -->
      <div class="comments">
        {% for comment in comments %}
        <div class="row comment-box">
          <div class="col-sm-1">
            <div class="thumbnail">
              <img class="img-responsive user-photo" src="{{ comment.user.profile_image }}">
            </div><!-- /thumbnail -->
          </div><!-- /col-sm-1 -->
          <div class="col-sm-5">
            <div class="panel panel-default">
              <div class="panel-heading">
                <strong>{{ comment.user.first_name }} {{ comment.user.last_name }}</strong> 
              </div>
            <div class="panel-body">
            {{ comment.comment }}
            </div><!-- /panel-body -->
            </div><!-- /panel panel-default -->
          </div><!-- /col-sm-5 -->
        </div><!-- /row -->
        {% endfor %}
      </div><!-- End Comments -->
    </div><!-- End columns -->
  </div><!-- End row -->

    {% endblock %}

<!-- Javascript -->
{% block js %}
  <script> 
    "use strict";
    // Wait until page has loaded
    $(document).ready(function() {

    // Get an object of arrays of urls
    $.get('/images/{{ podcast.podcast_id }}.json', function(result) {
      
      $.each(result.data, function(i, image_attrs) {
        
        $('<div class="item"><img src="'+image_attrs.image_url+'" class="img-responsive center-block"><div class="carousel-caption"></div></div>').appendTo('.carousel-inner');
        
        $('<li data-target="#carousel-image" data-slide-to="'+i+'"></li>').appendTo('.carousel-indicators');
      });

      $('.item').first().addClass('active');
      $('.carousel-indicators > li').first().addClass('active');
      $('#carousel-image').carousel();
      
      var audio = document.getElementById('audio');
      
      audio.addEventListener('timeupdate', function(event) { 
        var currentPos = event.path[0].currentTime;

        $.each(result.data, function (i, image_attrs) {
          if(currentPos >= image_attrs.start_at && currentPos <= image_attrs.end_at) {
            // $('#my-iframe').attr('href', image_attrs.image_url)
            $('#carousel-image').carousel(i);
          }
        });
      });
    });

    
    // Click event handler for comments
    $('#submit').click(function(event) {
      event.preventDefault();
      
      var comment = $('#comment').val();
      
      $.ajax({
           url: '/addComment',
           data: $('form').serialize(),
           type: 'POST',
           success: function(response) {
            comment = response.comment; 
            var image = response.profile_image;
            var name = response.user_name;

            var new_comment = $("#comment-template").clone();

            new_comment.find(".comment-body").text(comment);
            new_comment.find(".user-photo").attr("src", image);
            new_comment.find(".name").text(name);
            $('.comments').prepend(new_comment);

           },
           error: function(error) {
               console.log(error);
           }
       });

    });

    });
  </script>
{% endblock %}
