{% extends 'base.html' %}

{% block body %}
    <a class="btn btn-default" href="/podcasts/new" role="button">+ Podcast</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Podcast Name</th>
            <th>Show</th>
        </tr>
        </thead>
        <tbody>
        {% for podcast in podcasts %}
            <tr>
                <th><a href="/podcasts/{{ podcast.podcast_id }}">{{ podcast.title }}</a></th>
                <th>{{ podcast.show }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
