{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/podcast.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
{% endblock %}

{% block body %}
  <!-- Podcast body row -->
  <div class="row">
    <!-- Podcast Title and Episode -->
    <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 col-xs-12">

      <h4 class="title">{{ podcast.title }}  <small> -{{ podcast.show }}</small> </h4>
      <div class="panel panel-default">
        <div class="panel-body">

          <!-- Start Carousel -->
          <div id="carousel-image" class="carousel slide" data-ride="carousel" data-interval="false">
            <a class="js-more-info more-info btn btn-default btn-sm pull-right" data-toggle="modal" data-target="#content-modal">More Info</a>

            <!-- Indicators -->
            <ol class="carousel-indicators"></ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
            </div>
          </div>
          <!-- End Carousel -->
        </div>
        <div class="panel-footer">
          <!-- Audio -->
          <audio id="audio" controls>
            <source src="{{ podcast.audio }}" class="player_audio" type="audio/mpeg">
          </audio>
          <!-- End Audio -->
        </div>
      </div>

      {% include "podcasts/_modal.html" %}

      <div class="row">
        <!-- Podcast Description -->
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <h3>Description: </h3 >
              <p class="description">{{ podcast.description }}</p>
            </div>
          </div>
        </div>
        <!-- Comments -->
        <div class="col-md-6">
          <div id="content"></div>
          <script type="text/babel">
            var data = [
              {% for comment in comments %}
                { author: "{{ comment.user.name }}", author_profile_image_url: "{{ comment.user.profile_image }}", text: "{{ comment.comment }}", created_at: "{{ comment.created_at }}" },
              {% endfor %}
            ];

            var CommentBox = React.createClass({
              // this executes exactly once during the lifecycle of the component
              getInitialState: function() {
                return { data: data };
              },
              loadCommentsFromServer: function() {
                $.ajax({
                  url: this.props.url,
                  dataType: 'json',
                  cache: false,
                  success: function(data) {
                    this.setState({data: data.data});
                  }.bind(this),
                  error: function(xhr, status, err) {
                    console.error(this.props.url, status, err.toString());
                  }.bind(this)
                });
              },
              handleCommentSubmit: function(comment) {
                $.ajax({
                  url: this.props.url,
                  dataType: 'json',
                  type: 'POST',
                  data: comment,
                  success: function(data) {
                    this.setState({data: data.data});
                  }.bind(this),
                  error: function(xhr, status, err) {
                    console.error(this.props.url, status, err.toString());
                  }.bind(this)
                });          
              },
              componentDidMount: function() {
                this.loadCommentsFromServer();
                setInterval(this.loadCommentsFromServer, this.props.pollInterval);
              },
              render: function() {
                return (
                  <div className="commentBox">
                    <CommentForm onCommentSubmit={this.handleCommentSubmit} />
                    <CommentList data={this.state.data} />
                  </div>
                );
              }
            });

            var CommentList = React.createClass({
              render: function() {
                var commentNodes = this.props.data.map(function(comment) {
                  return (
                    <Comment author={comment.author} created_at={comment.created_at} author_profile_image_url={comment.author_profile_image_url}>
                      {comment.text}
                    </Comment>
                  );
                });
                return (
                  <ul className="list-group commentList">
                    {commentNodes}
                  </ul>
                );
              } 
            });

            var CommentForm = React.createClass({
              getInitialState: function() {
                return {author: '', text: ''};
              },
              handleAuthorChange: function(e) {
                this.setState({author: e.target.value});
              },
              handleTextChange: function(e) {
                this.setState({text: e.target.value});
              },
              handleSubmit: function(e) {
                e.preventDefault();
                var text = this.state.text.trim();     
                if (!text) {
                  return;
                }
                this.props.onCommentSubmit({text: text});
                this.setState({text: ''});
                },
                render: function() {
                  return (
                    <li className="list-group-item">
                      <form className="commentForm" onSubmit={this.handleSubmit}>
                        <div className="input-group">
                          <input className="form-control" type="text" placeholder="Say something..." value={this.state.text} onChange={this.handleTextChange}/>
                          <span className="input-group-btn">
                            <input className="btn btn-primary" type="submit" value="Post" />
                          </span>
                        </div>
                      </form>
                    </li>
                  );
                }
            });

            var Comment = React.createClass({
              rawMarkup: function() {
                var rawMarkup = marked(this.props.children.toString(), {sanitize: true});
                  return { __html: rawMarkup };
                }, 
              render: function() {
                return (
                  <li className="list-group-item comment">
                    <div className="media">
                      <div className="media-left">
                        <img className="media-object img-circle comment-profile-image" src={this.props.author_profile_image_url} alt="Profile Image" />
                      </div>
                      <div className="media-body">
                        <h4 className="media-heading">{this.props.author}</h4>
                        <span className="comment-text" dangerouslySetInnerHTML={this.rawMarkup()} />
                        <span>{this.props.created_at}</span>
                      </div>
                    </div>
                  </li>
                );
              }
            });

            ReactDOM.render(
              <CommentBox url="/podcasts/{{ podcast.podcast_id }}/comments" pollInterval={2000} />,
              document.getElementById('content')
            );
        </script>

    </div><!-- End columns -->
  </div><!-- End row -->

{% endblock %}

<!-- Javascript -->
{% block js %}
  <script> 
    "use strict";
    // Wait until page has loaded
    $(document).ready(function() {

      // Get an object of arrays of urls
      $.get('/images/{{ podcast.podcast_id }}.json', function(result) {
        
        $.each(result.data, function(i, image_attrs) {
          if(image_attrs.link == null) {
            image_attrs.link = '';
          }

          $('<div class="item"><img src="'+image_attrs.image_url+'" class="img-responsive center-block" data-iframe-src="' + image_attrs.link + '">').appendTo('.carousel-inner');
          $('<li data-target="#carousel-image" data-slide-to="'+i+'"></li>').appendTo('.carousel-indicators');
        });

        $('.item').first().addClass('active');
        $('.carousel-indicators > li').first().addClass('active');
        $('#carousel-image').carousel();
        
        var audio = document.getElementById('audio');
        
        audio.addEventListener('timeupdate', function(event) { 
          var currentPos = event.path[0].currentTime;

          $.each(result.data, function (i, image_attrs) {
            if(currentPos >= image_attrs.start_at && currentPos <= image_attrs.end_at) {
              $('#carousel-image').carousel(i);
            }
          });
        });
      });

      $('#carousel-image').on('slid.bs.carousel', function(event) {
        var iframeSrc = $(event.relatedTarget).find('img').attr('data-iframe-src');
        var $moreInfo = $('.js-more-info');
        if(iframeSrc != '') {
          $moreInfo.addClass('show');
          $('.js-content-iframe').attr('src', iframeSrc);
        } else {
          $moreInfo.removeClass('show');
        }
      });
    });
  </script>
{% endblock %}
