{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/podcast.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
{% endblock %}

{% block body %}
  <!-- Podcast body row -->
  <div class="row">
    <!-- Podcast Title and Episode -->
    <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 col-xs-12">

      <h4 class="title">{{ podcast.show }}: {{ podcast.title }}</h4>
      <p class="description">{{ podcast.description }}</p>

      <!-- Start Carousel -->
      <div id="carousel-image" class="carousel slide" data-ride="carousel" data-interval="false">
        <a class="js-more-info more-info btn btn-default btn-sm pull-right" data-toggle="modal" data-target="#content-modal">More Info</a>

        <!-- Indicators -->
        <ol class="carousel-indicators"></ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
        </div>
      </div>
      <!-- End Carousel -->
      
      <!-- Audio -->
      <audio id="audio" controls>
        <source src="{{ podcast.audio }}" class="player_audio" type="audio/mpeg">
      </audio>
      <!-- End Audio -->

      <div class="modal fade" id="content-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">More Information</h4>
            </div>
            <div class="modal-body">
              <iframe width="100%" height="900" class="js-content-iframe content-iframe"></iframe>
            </div>
          </div>
        </div>
      </div>

      <!-- Comments -->
      <div id="content"></div>
      <script type="text/babel">
        var data = [
          {% for comment in comments %}
            { author: "{{ comment.user.name }}", text: "{{ comment.comment }}" },
          {% endfor %}
        ];

        var CommentBox = React.createClass({
            // this executes exactly once during the lifecycle of the component
            getInitialState: function() {
               return { data: data };
            },
            loadCommentsFromServer: function() {
                $.ajax({
                    url: this.props.url,
                    dataType: 'json',
                    cache: false,
                    success: function(data) {
                        this.setState({data: data.data});
                    }.bind(this),
                    error: function(xhr, status, err) {
                        console.error(this.props.url, status, err.toString());
                    }.bind(this)
                });
            },
            handleCommentSubmit: function(comment) {
                $.ajax({
                    url: this.props.url,
                    dataType: 'json',
                    type: 'POST',
                    data: comment,
                    success: function(data) {
                        this.setState({data: data.data});
                    }.bind(this),
                    error: function(xhr, status, err) {
                        console.error(this.props.url, status, err.toString());
                    }.bind(this)
                });          
            },
            componentDidMount: function() {
                this.loadCommentsFromServer();
                setInterval(this.loadCommentsFromServer, this.props.pollInterval);
            },
            render: function() {
                return (
                    <div className="commentBox">
                        <h1>Comments</h1>
                        <CommentForm onCommentSubmit={this.handleCommentSubmit} />
                        <CommentList data={this.state.data} />
                    </div>
                );
            }
        });

        var CommentList = React.createClass({
            render: function() {
                var commentNodes = this.props.data.map(function(comment) {
                    return (
                        <Comment author={comment.author} key={comment.id}>
                            {comment.text}
                        </Comment>
                    );
                });

                return (
                    <div className="commentList">
                        {commentNodes}
                    </div>
                );
            } 
        });

        var CommentForm = React.createClass({
            getInitialState: function() {
                return {author: '', text: ''};
            },
            handleAuthorChange: function(e) {
                this.setState({author: e.target.value});
            },
            handleTextChange: function(e) {
                this.setState({text: e.target.value});
            },
            handleSubmit: function(e) {
                e.preventDefault();
                var text = this.state.text.trim();
                if (!text) {
                  return;
                }
                this.props.onCommentSubmit({text: text});
                this.setState({text: ''});
            },
            render: function() {
                return (
                    <form className="commentForm" onSubmit={this.handleSubmit}>
                         <input type="text" placeholder="Say something..."
                           value={this.state.text}
                           onChange={this.handleTextChange}/>
                        <input type="submit" value="Post" />
                    </form>
                );
            }
        });

        var Comment = React.createClass({
            rawMarkup: function() {
                var rawMarkup = marked(this.props.children.toString(), {sanitize: true});
                return { __html: rawMarkup };
            }, 
            render: function() {
                return (
                    <div className="comment">
                        <h2 className="commentAuthor">
                            {this.props.author}
                        </h2>
                        <span dangerouslySetInnerHTML={this.rawMarkup()} />
                    </div>
                );
            }
        });

        ReactDOM.render(
            <CommentBox url="/podcasts/{{ podcast.podcast_id }}/comments" pollInterval={2000} />,
            document.getElementById('content')
        );

      </script>

    </div><!-- End columns -->
  </div><!-- End row -->

{% endblock %}

<!-- Javascript -->
{% block js %}
  <script> 
    "use strict";
    // Wait until page has loaded
    $(document).ready(function() {

      // Get an object of arrays of urls
      $.get('/images/{{ podcast.podcast_id }}.json', function(result) {
        
        $.each(result.data, function(i, image_attrs) {
          if(image_attrs.link == null) {
            image_attrs.link = '';
          }

          $('<div class="item"><img src="'+image_attrs.image_url+'" class="img-responsive center-block" data-iframe-src="' + image_attrs.link + '">').appendTo('.carousel-inner');
          $('<li data-target="#carousel-image" data-slide-to="'+i+'"></li>').appendTo('.carousel-indicators');
        });

        $('.item').first().addClass('active');
        $('.carousel-indicators > li').first().addClass('active');
        $('#carousel-image').carousel();
        
        var audio = document.getElementById('audio');
        
        audio.addEventListener('timeupdate', function(event) { 
          var currentPos = event.path[0].currentTime;

          $.each(result.data, function (i, image_attrs) {
            if(currentPos >= image_attrs.start_at && currentPos <= image_attrs.end_at) {
                 $('#carousel-image').carousel(i);
            }
          });
        });
      });

      $('#carousel-image').on('slid.bs.carousel', function(event) {
        var iframeSrc = $(event.relatedTarget).find('img').attr('data-iframe-src');
        var $moreInfo = $('.js-more-info');
        if(iframeSrc != '') {
          $moreInfo.addClass('show');
          $('.js-content-iframe').attr('src', iframeSrc);
        } else {
          $moreInfo.removeClass('show');
        }
      });
    });
  </script>
{% endblock %}
